{% extends "base.html" %} 
{% block content %}
{% load markdownify %}

<p>
    <a class="link text" href="{% url 'questions_list' %}">Return to Questions</a>
</p>

<p id="title">
    <strong>{{question.title}}</strong>
</p>
<p id="question">{{question.body | markdownify}}</p>
  
<p class="tag text">
    {% for tag in question.tags.all %}
      {{tag}}
    {% endfor %}
</p>

<p class="text" id="date-time">{{question.date_time}}</p>
<br>

<section class="answers">
    {% for answer in answers %}
    <p class="answer">{{ answer.body | markdownify }}</p>
    <p class="footer text">{{ answer.user }}<span> | </span>{{ answer.date_time }}</p><br>
    {% endfor %}
</section>

{% endblock %}