html {
    background-color: #133951;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

h2 {
    color: black;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-block-end-width: 10px;
    border-block-start-width: 5px;
    align-items: center;
    text-align: center;
}

.text {
    color: whitesmoke;
}