{% extends "base.html"%} 
{% block content %}
<p>
  <a class="link text" href="{% url 'questions_list' %}">Return to Questions</a>
</p>

<h2>Hello {{ user }}, welcome to your profile</h2>

{% for question in questions %}
<p id="title">
  <strong>{{question.title}}</strong>
</p>
<p id="question">{{question.body}}</p>

<p class="tag text">
  {% for tag in question.tags.all %}
    {{tag}}
  {% endfor %}
  </p>

<p class="text date-time" id="date-time">{{question.date_time}}</p>
<br>

{% endfor %}

{% endblock %}
